@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-urbanista;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topmenu a{
  @apply mr-4 bg-green-500 text-white px-5 py-3 rounded-xl font-bold
}
.topmenu a.active{
  @apply bg-white text-green-600
}

.sidemenu{
  @apply z-[1] mt-3 w-52 p-2 shadow bg-green-700 flex flex-col justify-start items-start gap-5
}

.sidemenu a{
  @apply text-gray-300
}

.sidemenu a.active{
  @apply text-white underline
}

